footer {
  background-color: #13750a; /* Warna hijau tua */
  color: #fff; /* Warna teks putih */
  text-align: center; /* Teks di tengah */
  padding: 40px 0; /* Padding atas dan bawah */
  width: 100vw; /* Membuat lebar footer penuh (full width) */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

  
  .footer-content h3 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .footer-content p {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .footer-content .socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-content .socials li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-content .socials a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 12px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  